<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="DefaultConn" value="Data Source=awe-sql02-pd.tgna.tegna.com;Initial Catalog=hqdsPrsynch;User id=hqdsAdmin;Password=nimdA5dqh;"></add>
  </appSettings>
</configuration>